{% extends 'base.html.twig' %}

{% block title %}Dishes{% endblock %}

{% block body %}

    <h2>Dish - Edit</h2>

    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>No.</td>
                <td>Name</td>
                <td>Description</td>
            </tr>
            </thead>
            <tbody>
            {% for dish in dishes %}
                <tr>
                    <td>{{ dish.id }}</td>
                    <td>{{ dish.name }}</td>
                    <td>{{ dish.description }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
