{% extends 'base.html.twig' %}

{% block title %}Create a dish{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h5 class="mt-4">Dish Details</h5>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ dishInfo.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: {{ dishInfo.price }} $</h6>
                        <p class="card-text">Description: <br> {{ dishInfo.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
