{% extends 'base.html.twig' %}

{% block title %}Create a dish{% endblock %}

{% block body %}

    <div class="container">
        <h5>Dish Details</h5>
        <hr>
        <p>Name of the dish: {{ dishInfo.name }}</p>
        <p>Description: {{ dishInfo.description }}</p>
        <p>Price: {{ dishInfo.price }}</p>
    </div>

{% endblock %}
